// _reset.scss


/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size:62.5%;
}
body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
/* clear */
.clear:before,
.clear:after {
  content:' ';
  display:table;
}

.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}
img {
  max-width:100%;
  vertical-align:bottom;
}
a,
button {
  text-decoration:none;
  outline: none;
}
a:focus,
button:focus {
  outline:0;
}
a:hover,
a:active,
button:hover,
button:active {
  outline:0;
}
input:focus {
  outline:0;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}

::placeholder { /* Most modern browsers support this now. */
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  color: #555555;
  text-align: left;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{ color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{ color:transparent; } /* IE 10+ */

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}